<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/css/index.css">

<div class="wrapper">

  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container col-12 col-lg-8">
      <a class="navbar-brand" href="" data-step="1" data-intro="Enter the index page.">MULocDeep</a>
      <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" data-step="2" data-intro="Upload your querys here.">
            <a class="nav-link" href="/upload"><i class="fas fa-upload"></i> Upload </a>
          </li>
          <li class="nav-item" data-step="3" data-intro="Search your job here.">
            <a class="nav-link" href="/jobs"><i class="fas fa-search"></i> Search</a>
          </li>
          <li class="nav-item" data-step="4" data-intro="Check your own jobs here.">
            <a class="nav-link" href="/jobs/all"><i class="fas fa-list"></i> Status </a>
          </li>
          <li class="nav-item" data-step="5" data-intro="Check an example result here.">
            <a class="nav-link" href="/jobs/example"><i class="fas fa-envelope-open-text"></i> Example </a>
          </li>
          <li class="nav-item" data-step="6" data-intro="Contact us here.">
            <a class="nav-link" href="/contact"><i class="fas fa-phone-square-alt"></i> Contact </a>
          </li>
        </ul>
      </div>
      <button class="btn btn-sm btn-outline-light my-2 my-sm-0" href="javascript:void(0);"
        onclick="javascript:introJs().start();">HELP</button>
    </div>
  </nav>

  <div class="container col-12 col-lg-8">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" data-step="7" data-intro="Our website using infomation">
        <div class="carousel-item">
          <p class="text-center" id="userNumber"></p>
        </div>
        <div class="carousel-item">
          <p class="text-center" id="queryNumber"></p>
        </div>
        <div class="carousel-item active">
          <p class="text-center"> Welcome to MULocDeep</p>
        </div>
      </div>
    </div>
  </div>


  <div id="map" data-step="9" data-intro="Our users around the world!"></div>

  <div class="container border shadow-lg col-0 col-lg-4" id="welcomeCard">
    <div class="row">
      <div class="col-lg-12">
        <div class="content text-center">
          <h1 class="display-4">MULocDeep</h1>
          <p>
            A protein locator based on deep learning predicting
          </p>
          <hr>
          <a href="/upload" class="btn btn-primary btn-lg mb-3" role="button" aria-pressed="true" data-step="8"
            data-intro="Go to upload page.">
            <i class="fa fa-paw fa-fw"></i>
            Get Prediction!
          </a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/index.js"></script>


<% include partials/footer %>