<% include partials/header %>

<div class="wrapper">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container col-12 col-lg-8">

            <a class="navbar-brand" href="/">MULocDeep</a>
            <button class="navbar-toggler ml-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs"><i class="fas fa-search"></i> Search </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/all"><i class="fas fa-list"></i> Status </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/example"><i class="fas fa-envelope-open-text"></i> Example </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact"><i class="fas fa-phone-square-alt"></i> Contact </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map"><i class="fas fa-globe-americas"></i> Map </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools"><i class="fas fa-toolbox"></i> Other Tools </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <div class="container"> -->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4"><span class="border-bottom border-dark p-1">MULocDeep</span></h1>
            <p class="lead d-none d-sm-block">A protein locator based on deep learning predicting</p>
        </div>
    </div>
    <!-- </div> -->

    <div class="card border rounded shadow-lg mt-4 pt-5 pb-5 mx-auto col-12 col-lg-8 col-xl-6">

        <h1 class="text-center mt-5">
            ERROR...
        </h1>
        <h1 class="text-center mb-5">
            Your jobs' capacity is out of range! Please delete your useless jobs.
        </h1>

    </div>

<% include partials/footer%>