<% include partials/header %>

<div class="wrapper">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container col-12 col-lg-8">

            <a class="navbar-brand" href="/">MULocDeep</a>
            <button class="navbar-toggler ml-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs"><i class="fas fa-search"></i> Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/all"><i class="fas fa-list"></i> Status </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs/example"><i class="fas fa-envelope-open-text"></i> Example </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact"><i class="fas fa-phone-square-alt"></i> Contact </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map"><i class="fas fa-globe-americas"></i> Map </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools"><i class="fas fa-toolbox"></i> Other Tools </a>
                    </li>
                </ul>
            </div>

            <button class="btn btn-sm btn-outline-light my-2 my-sm-0" href="javascript:void(0);"
                onclick="javascript:introJs().start();">HELP
            </button>
        </div>
    </nav>


    <!-- <div class="container"> -->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4"><span class="border-bottom border-dark p-1">MULocDeep</span></h1>
            <p class="lead d-none d-sm-block">A protein locator based on deep learning predicting</p>
            <p class="d-none d-lg-block"></p>
        </div>
    </div>
    <!-- </div> -->

    <div class="container border rounded shadow-lg">
        <ul class="nav nav-pills mb-3 pt-3" id="pills-tab" role="tablist">
            <li class="nav-item" data-step="1" data-intro="Paste your sequences here to predict.">
                <a class="nav-link active" id="pills-Sequence-tab" data-toggle="pill" href="#pills-Sequence" role="tab"
                    aria-controls="pills-Sequence" aria-selected="true">Sequence</a>
            </li>
            <li class="nav-item" data-step="2" data-intro="Upload your sequences file to predict">
                <a class="nav-link" id="pills-File-tab" data-toggle="pill" href="#pills-File" role="tab"
                    aria-controls="pills-File" aria-selected="false">File</a>
            </li>
        </ul>
        <div class="tab-content pb-3" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-Sequence" role="tabpanel"
                aria-labelledby="pills-Sequence-tab">
                <form class="prediction" action="/upload/sequence" method="POST" onsubmit="return checkSeqValid()">
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="sequenceInput">Sequence</label>
                            <textarea class="form-control" id="sequenceInput" name="sequenceInput" rows="6"
                                aria-describedby="sequenceHelp" required></textarea>
                            <small id="sequenceHelp" class="form-text text-muted">The sequence(s) must in FASTA format
                                (maximum 25 sequences).
                            </small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="nickName1">NickName</label>
                            <input class="form-control" id="nickName1" name="nickName1"
                                aria-describedby="nickNameHelp1">
                            <small id="nickNameHelp1" class="form-text text-muted">Optional</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="emailInput1"> Email address</label>
                            <input type="email" class="form-control" id="emailInput1" name="emailInput1"
                                aria-describedby="emailHelp1" placeholder="Enter email">
                            <small id="emailHelp1" class="form-text text-muted">Optional (We'll never share your email
                                with
                                anyone
                                else)</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <input type="button" id="sample" class="btn btn-secondary" value="Sample" />
                </form>
            </div>

            <div class="tab-pane fade" id="pills-File" role="tabpanel" aria-labelledby="pills-File-tab">
                <form class="prediction" action="/upload/file" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <p>Upload file</p>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileSelect" name="fileSelect"
                                    aria-describedby="fileHelp" onchange="checkFileValid()" required>
                                <label id="fileLabel" class="custom-file-label text-truncate" for="fileSelect">Choose
                                    file</label>
                                <small id="fileHelp" class="form-text text-muted">The file uploaded should contains only
                                    protein sequence(s) in FASTA format (maximum 25 sequences).</small>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="nickName2">NickName</label>
                            <input class="form-control" id="nickName2" name="nickName2"
                                aria-describedby="nickNameHelp2">
                            <small id="nickNameHelp2" class="form-text text-muted">Optional</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="emailInput2">Email address</label>
                            <input type="email" class="form-control" id="emailInput2" name="emailInput2"
                                aria-describedby="emailHelp2" placeholder="Enter email">
                            <small id="emailHelp2" class="form-text text-muted">Optional (We'll never share your email
                                with
                                anyone
                                else)</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                    <button id="reset" type="reset" class="btn btn-secondary">Reset</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container pt-3">
        <h6 class=""> Reference</h6>
        <p>
            MULocDeep: Protein locator using deep learning.
        </p>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="errorModalBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/upload.js"></script>


    <% include partials/footer %>